@import 'tailwindcss';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    --color-jaune-clair: #fef3c7;
    --color-jaune: #fbbf24;
    --color-jaune-fonce: #f59e0b;
    --color-noir-leger: #374151;
    --color-noir: #1f2937;
    --color-noir-fonce: #111827;
    --color-gris-clair: #f9fafb;
    --color-gris: #e5e7eb;
    
    --radius-sm: 0.125rem;
    --radius: 0.25rem;
    --radius-md: 0.375rem;
    
    --shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --shadow-md: 0 2px 4px 0 rgb(0 0 0 / 0.05);
    --shadow-lg: 0 4px 6px -1px rgb(0 0 0 / 0.05);
}

@layer base {
    * {
        @apply border-gris;
    }
    
    body {
        @apply bg-gris-clair text-noir;
    }
}

